* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

html {
  font-family: "Gt walsheim oe web", sans-serif;
  padding: 20px;
}

.app {
  text-align: center;
}

h1 {
  font-size: 8vw;
  font-weight: normal;
  margin-bottom: 40px;
}

p {
  font-size: 5vw;
  word-break: break-all;
}

.button {
  display: inline-block;
  background-color: rgb(255, 89, 103);
  border: none;
  padding: 30px;
  color: white;
  font-family: "Gt walsheim oe web", sans-serif;
  font-size: 8vw;
  cursor: pointer;
}

.logo {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}


@font-face {
  font-family: 'Gt walsheim oe web';
  src: url('../fonts/gt-walsheim-regular-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-regular-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-regular-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-regular-oe-web.ttf') format('truetype'), url('../fonts/gt-walsheim-regular-oe-web.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gt walsheim oe web';
  src: url('../fonts/gt-walsheim-thin-oblique-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-thin-oblique-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-thin-oblique-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-thin-oblique-oe-web.ttf') format('truetype'), url('../fonts/gt-walsheim-thin-oblique-oe-web.svg') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Gt walsheim oe web';
  src: url('../fonts/gt-walsheim-thin-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-thin-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-thin-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-thin-oe-web.ttf') format('truetype'), url('../fonts/gt-walsheim-thin-oe-web.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gt walsheim oe web';
  src: url('../fonts/gt-walsheim-bold-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-bold-oe-web.woff') format('woff'), url('../fonts/gt-walsheim-bold-oe-web.ttf') format('truetype'), url('../fonts/gt-walsheim-bold-oe-web.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gt walsheim oe web';
  src: url('../fonts/gt-walsheim-medium-oe-web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}